.signUp-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: "100vh";
  }

.auth-message p{
  color: white;
  font-size: large;
  font-weight: 600;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

::placeholder{
  color: white;
  font-size: medium;
}