.mangaList{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,1fr);
    border-radius: 1px;
    grid-gap: 4px; 
    position: relative;
    margin-left: 250px;
}
.manga-card{
    padding: 16px 8px;
}

.manga-card > img {
    display: block;
    height: 350px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.manga-card-link{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}
.mangaPage{
    position: relative;
    margin-left: 250px;
    overflow: hidden;
    padding: 1em 0;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    width: 500px;
}