.search-box{
    position: relative;
    top: 20px;
    left:10%;
    width:90%
}
.search-box input{
    height: 4vh;
    width: 30%;
}

.searchButton{
    height: 4vh;
    width: 7%;
    right: 0;
    color: #fff;
    background: #FF9700;
    cursor: pointer;  
}

.mangaList{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,1fr);
    border-radius: 1px;
    grid-gap: 4px; 
    position: relative;
    margin-left: 250px;
    margin-top: 30px;
}
.manga-card{
    padding: 20px 8px;
}

.manga-card > img {
    display: block;
    height: 350px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
    display: block;
    margin-right: auto;
}

.manga-card-link{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    margin-right: auto;
}
