.wrapper {
  position: relative;
  height: 100vh;
}

.welcome-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-message{
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.welcome-message h1{
  width: 50ch;
  animation: typing 4s steps(40, end), blink-caret .5s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
    
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0, 0, 0) }
}