.animePage{
    display: flex;
    align-items: center;
    gap:20px;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(270deg, rgb(137, 162, 143), rgb(43,52,40));
    background-size: 200%;
    animation: waves 5s ease;
}

@keyframes waves { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.img-container{
    padding: 30px;
    margin: auto 5px;
    display: inline-block;
}

img{
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.anime-stats{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 10px;
}
.anime-stats h2{
   padding-bottom: 10px;
   color: white;
}
.anime-stats p{
    color: white;
    text-align: left;
}
.description p {
    font-size:medium;
    max-width: 500px;
    margin-left: auto;
    margin-top: auto;
    display: inline-block;
    
}
/* background-color: #1E2027;
padding-top: 10px;
margin: auto;
background-image: linear-gradient( rgb(137, 162, 143), rgb(43,52,40));
position: absolute;
top: 50%;
left: 60%;
transform: translatey(-50%) translatex(-50%);
box-shadow: rgba(2, 0, 0, 0.35) 0px 5px 15px;
width: 80%;
display: flex;
border-radius: 10px;
overflow: hidden;
color: white; */